*{
    padding: 0;
    margin: 0pt;
}
#navbar {
    background: #333;
    text-align: center;
    
}

#navbar h1 {
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}
#navbar h1 .speciale1{
    color: hotpink;
}
#navbar h1 .speciale2{
    color: pink;
}


#navbar h1 .speciale3{
    color: plum;
}
#navbar p {
    font-size: 25px;
    color: salmon;
    font-family: 'Libre Baskerville', serif;
}



#prima .container{
    display: flex;
}
#prima .container .sectimage{
   background: url("https://images.unsplash.com/photo-1540866225557-9e4c58100c67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")
   no-repeat center center/cover; 
   flex: 1;
   height: 30rem;
}

#prima .container .sectext{
    flex: 1;
    height: 30rem;
    display: flex;
    background: #344;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Alata', sans-serif;
    

}





#prima .container .sectext .title{
    color: sandybrown;
    font-size: 40px;

}
#prima .container .sectext .title a{
    text-decoration: none;
    color: sandybrown;
}
#prima .container .sectext .title a:hover{
    color: burlywood;
}

#prima .container .sectext .sotto{
    color: snow;
    font-size: 25px;
}


#seconda .container{
    display: flex;
}

#seconda .container .uno{
   display: flex;
   height: 20rem;
   flex: 1;
   flex-direction: column;
  align-items: center;
   justify-content: center;
   background: #333;
   color: aliceblue;


}
#seconda .container .due{
    background: url("https://images.unsplash.com/photo-1483048135245-05d6017c6cef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")
     no-repeat center center/cover;
     flex: 1;
     height: 20rem;
}

#seconda .container .tre{
    display: flex;
    height: 20rem;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #333;
    color: aliceblue;

}

#seconda .container .uno p{
    font-size: 15px;
    font-family: 'Libre Franklin', sans-serif;
    
}

#seconda .container .uno h1{
    font-size: 30px;
    font-family: 'Kalam', cursive;

}


#seconda .container .tre h1{
    font-size: 30px;
    font-family: 'Kalam', cursive;

}

#seconda .container .tre p{
    font-size: 15px;
    font-family: 'Libre Franklin', sans-serif;
    
}

#terza .container {
    display: flex;
    height: 20rem;
   
}



/*#terza .container .uno {
    flex: 1;
    background: grey;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;
    justify-content: center;
  
}


#terza .container .uno a {

text-decoration: none;
color: honeydew;
font-family: 'Libre Franklin', sans-serif;
font-size: 20px;


}



#terza .container .due{
    background: url("https://images.unsplash.com/photo-1529586281508-1eef0007ceff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")
    no-repeat center center/cover;
    flex: 1;
 
}

#terza .container .tre{
    flex: 1;
    background: grey;
}




*/
footer{
    text-align: center;
    background: #344;
    color: aliceblue;
    height: 2rem;

}

footer p{
    padding-bottom: 1rem;
}